name: Continuous Integration

on:
  - push
  - pull_request

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2]
        laravel: ['10.*', '11.*']
        dependency-version: [prefer-stable, prefer-lowest]
        include:
          - laravel: 10.*
            testbench: ^8.0
          - laravel: 11.*
            testbench: ^9.0
        exclude:
          - laravel: 10.*
            php: 8.0

    name: CI - PHP ${{ matrix.php }}  - Laravel ${{ matrix.laravel }} - Testbench ${{ matrix.testbench }} (${{ matrix.dependency-version }})

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, zip
          tools: prestissimo
          coverage: pcov

      - name: Install Composer dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist --no-suggest

      - name: PHPUnit Testing
        run: vendor/bin/phpunit tests
